@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
}

/* main */

.bienvenida {
  padding: 10px;
  height:35px;
  position:absolute;
  top:350px;
  right: 22px;
  width:345px;
  background-color: whitesmoke;
  text-align:center;
  border-radius:5px;
}
.textoBanners{
	height:19px;
	position: absolute;
	top:150px;
	right: 95px;
	color: #3C2313;
}
.btn-comederos{
	background-color: #f0a83e;
	padding:5px;
	border-radius:5px;
	border-color: #f0a83e;
}

.mainImg{
	background: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment:unset;
	height: 500px;
}

.seccion-productos h2, .fotos-productos h5 p{
	color: #3C2313;
}


